img.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
  width: 40px;
  height: 50px;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.usr-btn {
  outline: none;
  border: none;
  cursor: pointer;
  display: inline-block;
  margin-left: 25%;
  padding: 0.9rem 2.5rem;
  text-align: center;
  background-color: #C0C0C0;
  color: #fff;
  border-radius: 4px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  font-size: 17px;
  width: 50%;

}

.usr-btn:hover {
  color: #000000;
}

.report-criteria {
  font-size: 14px;
  font-style: italic;
}

.report-info {
  font-size: 14px;
  font-style: italic;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}

.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
  /* Vertically center the text there */
}

/*--------Home Page-----------*/
.home {
  margin: auto;
  width: 80%;
}

.home-img {
  outline: none;
  border: none;
  display: block;
  width: 100%;
  height: 500px;
}

/*--------Team Page--------------------------------*/
.team {
  outline: none;
  border: none;
  margin: auto;
  width: 63%;
  color: #fffffa;
}

.tbl-team {
  margin: auto;
  width: 80%;
  padding: 20px;
}

.td-team {
  margin: auto;
  width: 50%;
  padding: 10px;
}


.doctor {
  margin: auto;
  width: 80%;
  padding: 10px;
  border: 1px solid gray;
  background-color: #fffffa;
}

.doctor-logo {
  margin: auto;
  width: 100%;
  padding: 10px;
}

.doctor-logo img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid gray;
  border-radius: 90%;
}

.doctor-name {
  margin: auto;
  padding: 10px;
}

.doctor-name h3 {
  margin: auto;
  text-align: center;
  font-size: 25px;
  font-style: bold;
}

.doctor-position {
  margin: auto;
  padding: 10px;
}

.doctor-position h4 {
  margin: auto;
  text-align: center;
  font-size: 24px;
  font-style: italic;
}

.doctor-info {
  margin: auto;
  padding: 10px;
}

.summary-info {
  margin: auto;
  text-align: center;
  color: gray;
  font-size: 18px;
  animation: 5s infinite;
  animation-delay: 5s;
}

.info-details {
  margin: auto;
  text-align: center;
  color: gray;
  font-size: 16px;
  font-style: italic;
}

.doctor-btn {
  margin: auto;
  padding: 10px;
}

.doctor-btn-btn {
  display: block;
  text-decoration: none;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 17px;
  font-style: bold;
  width: 40%;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #C0C0C0;
  color: #fff;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}

.doctor-btn-btn:hover {
  color: #000000;
}


/*---------Login Page------------*/
.login {
  outline: none;
  border: none;
  margin: auto;
  width: 30%;
  color: #fffffa;
}

.login-form {
  margin: auto;
  width: 30%;
  padding-top: 20px;
}

.login-form .form-field::before {
  font-size: 20px;
  position: absolute;
  left: 15px;
  top: 17px;
  color: #888888;
  content: " ";
  display: block;
  background-size: cover;
  background-repeat: no-repeat;
  width: 350px;
}

.login-form .form-field:nth-child(1)::before {
  background-image: url(https://res.cloudinary.com/ddfrnob2x/image/upload/v1671288940/email-icon_hzivxb.png);
  width: 20px;
  height: 20px;
  top: 15px;
}

.login-form .form-field:nth-child(3)::before {
  background-image: url(https://res.cloudinary.com/ddfrnob2x/image/upload/v1671288992/lock-icon_enrwe0.png);
  width: 20px;
  height: 20px;
  top: 15px;
}

.login-form .form-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 1rem;
  position: relative;
}

.login-form input {
  font-family: inherit;
  width: 100%;
  outline: none;
  background-color: #fff;
  border-radius: 4px;
  border: none;
  display: block;
  padding: 0.9rem 0.7rem;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  font-size: 17px;
  color: #4A4A4A;
  text-indent: 40px;
}


.login-form .reg {
  outline: none;
  border: none;
  cursor: pointer;
  display: inline-block;
  margin: 0 auto;
  padding: 10px;
  text-align: center;
}

/*---------Registration------------*/

.registration {
  outline: none;
  border: none;
  margin: auto;
  width: 30%;
  color: #fffffa;
}

.registration-form {
  margin: auto;
  width: 30%;
  padding-top: 20px;
}

.registration-form .form-field::before {
  font-size: 20px;
  position: absolute;
  left: 15px;
  top: 17px;
  color: #888888;
  content: " ";
  display: block;
  background-size: cover;
  background-repeat: no-repeat;
  width: 350px;
}

.registration-form .form-field:nth-child(1)::before {
  background-image: url(https://res.cloudinary.com/ddfrnob2x/image/upload/v1671289295/user-icon_utxsq1.png);
  width: 20px;
  height: 20px;
  top: 15px;
}

.registration-form .form-field:nth-child(3)::before {
  background-image: url(https://res.cloudinary.com/ddfrnob2x/image/upload/v1671289295/user-icon_utxsq1.png);
  width: 20px;
  height: 20px;
  top: 15px;
}

.registration-form .form-field:nth-child(5)::before {
  background-image: url(https://res.cloudinary.com/ddfrnob2x/image/upload/v1671288940/email-icon_hzivxb.png);
  width: 20px;
  height: 20px;
  top: 15px;
}

.registration-form .form-field:nth-child(7)::before {
  background-image: url(https://res.cloudinary.com/ddfrnob2x/image/upload/v1671289060/phone-icon_bulo1l.png);
  width: 20px;
  height: 20px;
  top: 15px;
}

.registration-form .form-field:nth-child(9)::before {
  background-image: url(https://res.cloudinary.com/ddfrnob2x/image/upload/v1671288992/lock-icon_enrwe0.png);
  width: 20px;
  height: 20px;
  top: 15px;
}

.registration-form .form-field:nth-child(11)::before {
  background-image: url(https://res.cloudinary.com/ddfrnob2x/image/upload/v1671288992/lock-icon_enrwe0.png);
  width: 20px;
  height: 20px;
  top: 15px;
}

.registration-form .form-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 1rem;
  position: relative;
}

.registration-form input {
  font-family: inherit;
  width: 100%;
  outline: none;
  background-color: #fff;
  border-radius: 4px;
  border: none;
  display: block;
  padding: 0.9rem 0.7rem;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  font-size: 17px;
  color: #4A4A4A;
  text-indent: 40px;
}

.registration-form .reg {
  outline: none;
  border: none;
  cursor: pointer;
  display: inline-block;
  margin: 0 auto;
  padding: 10px;
  text-align: center;
}

/*---------Create Dentist------------*/

.create-dentist {
  outline: none;
  border: none;
  margin: auto;
  width: 30%;
  color: #fffffa;
}

.create-dentist-form {
  margin: auto;
  width: 30%;
  padding-top: 20px;
}

.create-dentist-form .form-field::before {
  font-size: 20px;
  position: absolute;
  left: 15px;
  top: 17px;
  color: #888888;
  content: " ";
  display: block;
  background-size: cover;
  background-repeat: no-repeat;
  width: 350px;
}

.create-dentist-form .form-field:nth-child(1)::before {
  background-image: url(https://res.cloudinary.com/ddfrnob2x/image/upload/v1671289295/user-icon_utxsq1.png);
  width: 20px;
  height: 20px;
  top: 15px;
}

.create-dentist-form .form-field:nth-child(3)::before {
  background-image: url(https://res.cloudinary.com/ddfrnob2x/image/upload/v1671289249/job-icon_axdqbx.jpg);
  width: 20px;
  height: 20px;
  top: 15px;
}

.create-dentist-form .form-field:nth-child(5)::before {
  background-image: url(https://res.cloudinary.com/ddfrnob2x/image/upload/v1671289153/more-info-icon_aeokrn.jpg);
  width: 20px;
  height: 20px;
}

.create-dentist-form .form-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 1rem;
  position: relative;
}

.create-dentist-form input {
  font-family: inherit;
  width: 100%;
  outline: none;
  background-color: #fff;
  border-radius: 4px;
  border: none;
  display: block;
  padding: 0.9rem 0.7rem;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  font-size: 17px;
  color: #4A4A4A;
  text-indent: 40px;
}




/*---------Booked------------*/

.booked-tr {
  border-top: 10px solid #ffffff;
}

.col {
  width: 80px;
  overflow: hidden;
  display: inline-block;
  white-space: nowrap;
}

/*--------Dental Service-----------*/
.dental-service-h1 {
  margin: auto;
  text-align: center;
}

.dental-services-logo {
  margin: auto;
  width: 80%;
}

.dental-services-img {
  outline: none;
  border: none;
  display: block;
  width: 100%;
  height: 500px;
}

.dental-dervice-details {

  font-size: 11px;
  font-style: italic;
}

/*---------Create Doctor Schedule------------*/

.create-dentist-schedule-form {
  margin: auto;
  width: 30%;
  padding-top: 20px;
}

.create-dentist-schedule-form .create-dentist-schedule-field::before {
  font-size: 20px;
  position: absolute;
  left: 15px;
  top: 17px;
  color: #888888;
  content: " ";
  display: block;
  background-size: cover;
  background-repeat: no-repeat;
  width: 350px;
}

.create-dentist-schedule-form .create-dentist-schedule-field:nth-child(2)::before {
  background-image: url(https://res.cloudinary.com/ddfrnob2x/image/upload/v1671289097/calendar-ico_yruxnw.png);
  width: 20px;
  height: 20px;
  top: 15px;
}

.create-dentist-schedule-form .create-dentist-schedule-field:nth-child(4)::before {
  background-image: url(https://res.cloudinary.com/ddfrnob2x/image/upload/v1671289097/calendar-ico_yruxnw.png);
  width: 20px;
  height: 20px;
  top: 15px;
}

.create-dentist-schedule-form .create-dentist-schedule-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 1rem;
  position: relative;
}

.create-dentist-schedule-form input {
  font-family: inherit;
  width: 100%;
  outline: none;
  background-color: #fff;
  border-radius: 4px;
  border: none;
  display: block;
  padding: 0.9rem 0.7rem;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  font-size: 17px;
  color: #4A4A4A;
  text-indent: 40px;
}


/*---------Doctor Schedule Reports------------*/

.doctor-scedul-form {
  margin: auto;
  width: 30%;
  padding-top: 20px;
}

.doctor-scedul-form .doctor-scedul-field::before {
  font-size: 20px;
  position: absolute;
  left: 15px;
  top: 17px;
  color: #888888;
  content: " ";
  display: block;
  background-size: cover;
  background-repeat: no-repeat;
  width: 350px;
}

.doctor-scedul-form .doctor-scedul-field:nth-child(2)::before {
  background-image: url(https://res.cloudinary.com/ddfrnob2x/image/upload/v1671289097/calendar-ico_yruxnw.png);
  width: 20px;
  height: 20px;
  top: 15px;
}

.doctor-scedul-form .doctor-scedul-field:nth-child(4)::before {
  background-image: url(https://res.cloudinary.com/ddfrnob2x/image/upload/v1671289097/calendar-ico_yruxnw.png);
  width: 20px;
  height: 20px;
  top: 15px;
}

.doctor-scedul-form .doctor-scedul-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 1rem;
  position: relative;
}

.doctor-scedul-form input {
  font-family: inherit;
  width: 100%;
  outline: none;
  background-color: #fff;
  border-radius: 4px;
  border: none;
  display: block;
  padding: 0.9rem 0.7rem;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  font-size: 17px;
  color: #4A4A4A;
  text-indent: 40px;
}


/*Reports*/

.Reports{
  margin-left:250px;
  margin-right: 250px;
}

.report-criteria{
  margin-left: 30px; 
}