@{
    ViewData["Title"] = "Home Page";
}
<div class="home">
    <img class="home-img" src="https://res.cloudinary.com/ddfrnob2x/image/upload/v1670961315/dwpuqlqwndd0c3zbrpqn.jpg" />
</div>

<div class="text-center">
    <h1 class="display-4">Welcome @ViewBag.UserName</h1>
</div>