@{
    ViewData["Title"] = "Home Page";
}
<div class="home">
    <img class="home-img" src="./img/Home.png" />
</div>

<div class="text-center">
    <h1 class="display-4">Welcome @ViewBag.UserName</h1>
</div>